#root {
    padding: 0 50px;
}

#banner{
    padding: 20px 0 10px 0;
    display: none;
}

#banner img {
    width: 100px;
}

#fixtures{
}

.fixture{
    margin-bottom: 60px;
}

.fixture-title-bar{
    margin-bottom: 12px;
    font-size: 4em;
}

.fixture-card{
    border-radius: 20px;
    padding: 30px 0 20px 0;
}

.fixture-card-wrap{
    margin: 0 0 0 30px;
    width: 96%;
}

.fixture-status{
    margin: 50px 0 0 0;
}

.fixture-status .duration{
    font-size: 3em;
}

.fixture-name {
    margin: 0 0 40px 0;
    font-family: "ralewaylight", sans-serif;
    font-size: 5em;
}

.teama{
    padding-bottom: 33px;
    border-bottom: 7px dotted #cccccc;
}

.teamb{
    margin-top: 32px;
}

.players {
    width: 55%;
}

.player{
    overflow: hidden;
    font-size: 4.2em;
}
.player.doubles{
    font-size: 4.2em;
}
.player.doubles:last-of-type {
    padding-top: 14px;
}

.player img{
    float: left;
    width: 45px;
    height: 45px;
    max-width: 45px;
    margin: -6px 10px 0 0;
    border-radius: 50%;
}

.seed{
    font-size: 1em;
}

.player.player2{
    margin-top: 5px;
}

.scores{
    width: 45%;
}

.teama .scores {
    bottom: 10px;
}

.teamb .scores {
    top: -30px;
}

.scores span {
    width: 1em;
    max-width: 2em;
    font-size: 11em;
    margin-right: 10px;
}

.scores span.set-game:last-of-type {
    margin-right: 0;
    width: 1em;
}

.scores .point {
    margin-right: 21px;
    width: 38px;
}

.desc {
    background: #ccc;
    color: #000;
}

.desc:before {
    content: "large phone > 375px width";
}