#root {
    padding: 0 50px;
}

h1 {
    font-size: 6em;
    margin-bottom: 1em;
}

h2 {
    font-size: 5em;
    margin-bottom: 0.8em;
}

p {
    margin-bottom: 0.5em;
    font-size: 3.5em;
}

#banner{
    padding: 20px 0 50px 0;
}

#banner img {
    width: 200px;
}

#fixtures{
    margin-top: 5em;
}

.fixture{
    margin-bottom: 80px;
}

.fixture-title-bar{
    margin-bottom: 12px;
    font-size: 5em;
}

.fixture-card{
    border-radius: 20px;
    padding: 50px 0 20px 0;
}

.fixture-card-wrap{
    margin: 0;
    width: 94%;
}

.teama{
    padding-bottom: 33px;
    border-bottom: 7px dotted #cccccc;
}

.teamb{
    margin-top: 32px;
}

.players {
    height: 173px;
}

.player{
    overflow: hidden;
}
.fixture.singles .player{
    font-size: 5.2em;
}
.fixture.doubles .player{
    font-size: 4.2em;
}
.fixture.doubles .player:last-of-type {
    padding-top: 14px;
}

/*.player img{*/
/*    float: left;*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    max-width: 45px;*/
/*    margin: -6px 10px 0 0;*/
/*    border-radius: 50%;*/
/*}*/

.seed{
    font-size: 1em;
}

.player.player2{
    margin-top: 5px;
}

.scores span {
    width: 1em;
    font-size: 11em;
    margin: -0.3em 20px -0.3em 0;
}

.scores span.set-game:last-of-type {
    margin-right: 0;
}

.fixture-status{
    margin: 70px 0 0 0;
    font-size: 3em;
}

div.footer p{
    font-size: 2em;
}