#root {
    padding: 10px;
}

h1 {
    font-size: 1.7em;
    margin-bottom: 1.1em;
}

h2 {
    font-size: 1.4em;
    margin-bottom: 0.8em;
}

p {
    margin-bottom: 0.5em;
    font-size: 18px;
}

#banner{
    padding: 20px 0 20px 0;
}

#banner img {
    width: 75px;
}

#fixtures{
    margin-top: 20px;
}

.fixture{
    margin-bottom: 30px;
}

.fixture-title-bar{
    margin-bottom: 7px;
    font-size: 24px;
}

.fixture-card{
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.fixture-card-wrap{
    margin: 0;
    width: 94%;
}

.teama{
    padding-bottom: 12px;
    border-bottom: 2px dotted #cccccc;
}

.teamb{
    margin-top: 12px;
}

.players {
    height: 51px;
}

.player{
    overflow: hidden;
}
.fixture.singles .player{
    font-size: 23px;
}
.fixture.doubles .player{
    font-size: 19px;
}
.fixture.doubles .player:last-of-type {
    padding-top: 6px;
}

/*.player img{*/
/*    float: left;*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    max-width: 45px;*/
/*    margin: -6px 10px 0 0;*/
/*    border-radius: 50%;*/
/*}*/

.seed{
    font-size: 1em;
}

.player.player2{
    margin-top: 5px;
}

.scores span {
    width: 1em;
    font-size: 40px;
    margin: -12px 16px -10px 0;
}

.scores span.set-game:last-of-type {
    margin-right: 0;
}

.fixture-status{
    margin: 20px 0px 0 0px;
    font-size: 16px;
}

.div.footer p{
    font-size: 16px;
}