@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_pro_displaylight';
    src: url('fonts/sfpro/sf-pro-display-light-webfont.woff2') format('woff2'),
    url('fonts/sfpro/sf-pro-display-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #05406f;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

#banner{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #05406f;
    text-align: center;
    z-index: 10000;
}

#banner img {
}

#fixtures{
    float: left;
    width: 100%;
    margin: 15px 0 0 0;
}

.fixture{
    float: left;
    width: 100%;
}

.fixture-title-bar{
    float: left;
    width: 100%;
    color: #fff;
    font-family: Avenir, "ralewaylight", sans-serif;
}

.fullwidth-title-bar{
    float: left;
    width: 100%;
    color: #fff;
    font-family: ralewaylight, sans-serif;
    text-align: center;
    border-bottom: 2px groove #ffffff;
}

.fixture-card{
    background-color: #fff;
    float: left;
    width: 100%;
}

.fixture-card-wrap{
    float: left;
}

.fixture-status{
    clear: left;
    float: left;
    font-family: "Avenir light", sans-serif;
    color: #999;
    width: 100%;
}

.fixture-status .duration{
    text-align: center;
}

.fixture-name{
    font-family: Avenir, "ralewaymedium", sans-serif;
    text-align: center;
    color: #000;
}

.team{
    float: left;
    width: 100%;
    clear: left;
    position: relative;
}
.teama{
}
.teamb{
}

.players {
    float: left;
}

.player{
    float: left;
    width: 100%;
    font-family: "ralewayregular", Avenir, sans-serif;
}
.player.doubles{
}
.player img {
}

.seed{
    color: #05406f;
    font-family: "ralewaylight", Avenir, sans-serif;
}

.player.player2{
}

.scores{
    float: left;
}

.teama .scores {
    position: absolute;
    right: 0;
}

.teamb .scores {
    position: absolute;
    right: 0;
}

.scores span {
    display: block;
    float: left;
    font-family: "sf_pro_displaylight", Avenir, sans-serif;
    text-align: center;
}

.not-started .scores{
    color: #cccccc;
}

.scores span.set-game:last-of-type {
}

.scores .point {
}


.desc {
    color: #ccc;
    /*background-color: rgba(0, 0, 0, 0.9);*/
    border-radius: 4px;
    padding: 10px;
    clear: left;
}

@media (max-width: 640px) {
    h1 {
        color: red;
    }

    .desc:before {
        content: "This browser window is smaller than 640px wide.";
    }
}

@media (min-width: 640px) {
    h1 {
        color: blue;
    }

    .desc:before {
        content: "This browser window is at least 640px wide!";
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    h1 {
        color: fuchsia;
    }

    .desc:after {
        content: " In fact, it's between 500px and 600px wide.";
    }
}

@media (min-width: 2560px) {
    h1 {
        color: fuchsia;
    }

    .desc:after {
        content: " 4K telly baby";
    }
}

@media (orientation: portrait) {
    .orientation:after {
        content: " Portrait.";
    }
}

@media (orientation: landscape) {
    .orientation:after {
        content: " Landscape.";
    }
}