@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'),
    url('fonts/raleway/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_pro_displaylight';
    src: url('fonts/sfpro/sf-pro-display-light-webfont.woff2') format('woff2'),
    url('fonts/sfpro/sf-pro-display-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #05406f;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-size: 100%;
}

#banner{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #05406f;
    text-align: center;
    z-index: 10000;
}

#banner img {
}

h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "ralewaylight", sans-serif;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-family: "ralewaylight", sans-serif;
    color: #ffffff;
}

p {
    font-family: "Avenir light", sans-serif;
    color: #ffffff;
}

#fixtures{
    float: left;
    width: 100%;
    margin: 15px 0 0 0;
}

.fixture{
    float: left;
    width: 100%;
}

.fixture-title-bar{
    float: left;
    width: 100%;
    color: #fff;
    font-family: Avenir, "ralewaylight", sans-serif;
}

.fullwidth-title-bar{
    float: left;
    width: 100%;
    color: #fff;
    font-family: ralewaylight, sans-serif;
    text-align: center;
    border-bottom: 2px groove #ffffff;
}

.fixture-card{
    background-color: #fff;
    float: left;
    width: 100%;
}

.fixture-card-wrap{
    float: left;
}

.fixture-status{
    clear: left;
    float: left;
    font-family: "Avenir light", sans-serif;
    color: #999;
    width: 100%;
}

.fixture-status .duration{
    text-align: center;
}

.fixture-name{
    font-family: Avenir, "ralewaymedium", sans-serif;
    text-align: center;
    color: #000;
}

.team{
    float: left;
    width: 100%;
    clear: left;
    position: relative;
}
.teama{
}
.teamb{
}

.players {
    float: left;
}

.player{
    float: left;
    width: 100%;
    font-family: "ralewayregular", Avenir, sans-serif;
}
.player.doubles{
}
.player img {
}

.seed{
    color: #05406f;
    font-family: "ralewaylight", Avenir, sans-serif;
}

.player.player2{
}

.scores{
    float: left;
}

.teama .scores {
    position: absolute;
    right: 0;
}

.teamb .scores {
    position: absolute;
    right: 0;
}

.scores span {
    display: block;
    float: left;
    font-family: "sf_pro_displaylight", Avenir, sans-serif;
    text-align: center;
}

.not-started .scores{
    color: #cccccc;
}

.scores span.set-game:last-of-type {
}

.scores .point {
}

.fixture:last-of-type {
    margin-bottom: 70px;
}

.rights-notice{
    margin-top: 100px;
    color: #d0d0d0;
}